@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Doodle+Shadow&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins';
}


html {
    scroll-behavior: smooth;
}

:root {
    --midnight-blue: #342F76ff;
    --black: #000002ff;
    --r-violet: #1F002Dff;
    --black-2: #06000Aff;
    --dark-violet: #9102C0ff;
    --white: #ffff;
    --grey: #666666;
}

html {
    font-size: 62.5%;
}

::selection {
    background-color: var(--midnight-blue);
}

p {
    font-size: 1.6rem;
}

.p-h1 {
    font-size: 5vmax;
    color: var(--dark-violet);
}

.p-p {
    color: var(--grey);
    font-size: 18px;
}

.section-head {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-right: 2rem;
    gap: 2.5rem;
    width: calc(100% - 10vw);
    margin-left: 10vw;
    margin-bottom: 5rem;
}

#hero {
    height: 100vh;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 8rem;
    position: relative;
    z-index: 2;
}

#hero::after {
    left: 0;
    top: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000006f;
    z-index: -1;
}


/* Navbar */

#navbar {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5vw;
    border-bottom: 1px solid #ffffff33;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: 1s cubic-bezier(0.25, 1, 0.5, 1);
    background-color: var(--white);
    z-index: 100;
}

.sticky #navbar {
    background-color: var(--dark-violet);
}


.nav-logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav-logo span {
    font-family: 'Baumans';
    font-size: 3rem;
    color: var(--black);
}

.nav-logo img {
    width: 55px;
    border: 1px solid var(--midnight-blue);
    border-radius: 50%;
}

.sticky .nav-logo span {
    color: var(--white);
}

.sticky .nav-logo img {
    width: 55px;
    border: none;
    background-color: var(--white);
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3vw;
}

nav ul li a {
    font-size: 2rem;
    color: var(--black);
}

.sticky nav ul li a {
    color: var(--white);
}

.nav-btn {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(50, 50, 50, 0.106);
    border-radius: 1rem;
    padding: .5rem 1rem;
    position: relative;
    transition: all .3s ease;
    z-index: 2;
}

.nav-btn:hover {
    color: var(--white);
}

.sticky .nav-btn:hover {
    color: var(--black);
}

.nav-btn::after {
    transition: all .3s ease;
    width: 0%;
    height: 2px;
    bottom: 0;
    position: absolute;
    content: '';
    background-color: var(--black);
    border-radius: 1rem;
    left: 50%;
    z-index: -1;
}

.sticky .nav-btn::after {
    background-color: var(--white);
}

.nav-btn:hover::after {
    width: 100%;
    height: 100%;
    left: 0;
}

/* menu bar*/
.menu-btn {
    height: 32px;
    width: 40px;
    cursor: pointer;
    display: none;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    background: var(--black-2);
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    margin-top: 13px;
    transition: .3s ease-in-out .3s;
}

.sticky .menu-btn span,
.sticky .menu-btn span::before,
.sticky .menu-btn span::after {
    background: var(--white);
}

.menu-btn span::before {
    margin-top: -12px;
    transition: .3s ease-in-out;
}

.menu-btn span::after {
    margin-top: 12px;
    transition: .3s ease-in-out;
}

.menu-btn.active span {
    background: transparent;
    transition: .5s ease-in-out;
    transform: rotate(-90deg);
}

.menu-btn.active span::before {
    margin-top: 0;
    transform: rotate(-45deg);
    transition-delay: .5s;
}

.menu-btn.active span::after {
    margin-top: 0;
    transform: rotate(45deg);
    transition-delay: .5s;
}

/* menu end */

#hero-div {
    height: 100%;
    display: flex;
    z-index: 10;
}

.hero-div-main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-left: 10vw;
    gap: 20px;
}

.hero-div-inner {
    display: flex;
}

.hero-div-inner h3 {
    font-size: 3vw;
    color: var(--white);
}

.hero-div-inner span {
    width: 20px;
}

.hero-div-main h1 {
    font-size: 7vw;
    color: var(--white);
    color: transparent;
    font-family: 'Baumans';
    transition: all .3s ease;
    -webkit-text-stroke: 3px var(--white);
    font-family: 'poppins';
    cursor: pointer;
    user-select: none;
}

.hero-div-main h1:hover {
    color: var(--white);
}

.hero-div-main p {
    font-size: 18px;
    color: var(--white);
    width: 50%;
    line-height: 35px;
}

/* Courses */
#courses {
    padding: 6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.courses-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cm {
    padding: 1.5rem 6rem;
    color: var(--black);
    border: 2px solid var(--dark-violet);
    position: relative;
    border-radius: 10px;
    user-select: none;
    font-weight: 700;
    font-size: 2rem;
    transition: all .3s ease;
    box-shadow: 0px 1px 15px -4px rgba(31, 0, 45, 0.75);
    -webkit-box-shadow: 0px 1px 15px -4px rgba(31, 0, 45, 0.75);
    -moz-box-shadow: 0px 1px 15px -4px rgba(31, 0, 45, 0.75);
    overflow: hidden;
}

.btn-cm::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 50%;
    background: var(--dark-violet);
    transition: all .3s ease;
    border-radius: 0 0 7px 7px;
    z-index: -1;
}

.btn-cm:hover::after {
    width: 100%;
}

.btn-cm::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    height: 50%;
    background: var(--dark-violet);
    transition: all .3s ease;
    border-radius: 7px 7px 0 0;
    z-index: -1;
}

.btn-cm:hover::before {
    width: 100%;
}

.btn-cm:hover {
    color: var(--white);
}

.courses-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem;
}
.course-box{
    margin: 0 2rem;
}

.course-box ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 6rem;
}
.course-box ul h1{
    font-size: 3rem;
}

/* About us */
#aboutus{
    padding: 6rem 0;
}
.aboutus-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutus-box {
    margin: 0 2rem;
}

.about-card {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 300px;
    margin: 2rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.about-card .a-c-picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.about-card .a-c-picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: var(--dark-violet);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.about-card:hover .a-c-picture::before {
    height: 100%;
}

.about-card .a-c-picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--midnight-blue);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.about-card .a-c-picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.about-card:hover .a-c-picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.about-card .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.about-card .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--dark-violet);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.about-card:hover .social {
    bottom: 0;
}

.about-card .social li {
    display: inline-block;
}

.about-card .social li a {
    display: block;
    padding: 10px;
    font-size: 30px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin: 0 1rem;
}

.about-card .social li a:hover {
    color: var(--midnight-blue);
    background-color: #f7f5ec;
}
.about-card-content h3{
    font-size: 2.4rem;
}
.about-card-content h4{
    font-size: 1.8rem;
    color: var(--grey);
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* Contact */
#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.contact-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    padding: 3rem 2rem;
    width: 60vw;
    gap: 3rem;
    border-radius: 10px;
}
.contact-form input, .contact-form textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--dark-violet);
    transition: all .3s ease;
    box-shadow: 1px 2px 3px #fff;
}
.contact-form input::placeholder, .contact-form textarea::placeholder{
   font-size: 1.6rem;
}
.contact-form input{
    height: 35px;
    padding: 0 1rem;
}
.contact-form textarea{
    height: 35px;
    padding: 0 1rem;
}
.contact-form input:focus , .contact-form textarea:focus{
    outline: 1px solid var(--dark-violet);
}
.contact-form button{
    justify-self: flex-end;
}

@media screen and (max-width:1440px) {}

@media screen and (max-width:1024px) {

    .menu-btn {
        display: block;
    }

    nav ul {
        position: absolute;
        top: 8rem;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background-color: var(--white);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .5s ease;
        z-index: 100;
    }

    .sticky nav ul {
        background-color: var(--r-violet);
    }

    nav ul li {
        margin: 2.5vh 0;
        transition: all .7s ease;
    }

    nav ul li a {
        font-size: 3vmax;
        /* opacity: 0; */
    }

    nav.active ul {
        height: calc(100vh - 8rem);
    }

    .hero-div-main h1 {
        font-size: 9vmax;
    }

    .hero-div-main h3 {
        font-size: 4vmax;
    }

    .hero-div-main p {
        width: 80%;
    }
    .p-h1 {
        font-size: 8vmin;
    }

}

@media screen and (max-width:768px) {
    .hero-div-main h1 {
        font-size: 10vw;
    }

    .hero-div-main h3 {
        font-size: 6vw;
    }

    #navbar {
        padding: 0 20px 0 3.5vw;
    }

    .menu-btn {
        margin-top: 6px;
    }

    .p-h1 {
        font-size: 10vmin;
    }
    .about-card .a-c-picture::before {
        height: 100%;
    }
    .about-card .a-c-picture img {
        box-shadow: 0 0 0 14px #f7f5ec;
        transform: scale(0.7);
    }
    .about-card .a-c-picture img {
        box-shadow: 0 0 0 14px #f7f5ec;
        transform: scale(0.7);
    }
    .about-card .social {
        bottom: 0;
    }
}

@media screen and (max-width:600px) {
    .hero-div-main {
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .hero-div-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hero-div-main p {
        width: auto;
    }

    .hero-div-main {
        padding: 0 5vw;
    }
    .courses-main{
        flex-direction: column;
        margin-top: 0;
    }
    .courses-main ul{
        margin-top: 4rem;
    }
}

@media screen and (max-width:425px) {
    .hero-div-main h1 {
        font-size: 13vw;
    }

    .hero-div-main h3 {
        font-size: 8vw;
    }

    .hero-div-main p {
        font-size: 16px;
        line-height: 30px;
    }

    .p-p {
        font-size: 16px;
    }
    .course-box ul h1{
        font-size: 2.6rem;
    }
}

@media screen and (max-width:375px) {}

@media screen and (max-width:320px) {}